<div class="b-modal__left-header">ДЕМЧЕНКО<br> Владимир Сергеевич</div>
<div class="b-modal__left-body">
	Закончил педиатрический факультет РГМУ, ординатуру при Кафедре неврологии РГМУ.<br>
Доктор остеопатии ВРШОМ (высшая российская остеопатическая школа)
— вертебрология (кафедра реабилитации РГМУ);<br>
Авторский курс "Техники мышечных энергий" профессора Брёгера и доктора Гельдман (Германия); <br>
<b><i>Дополнительные специализации:</i></b> <br>
Сертифицированный практик концепции Mulligan
Медицинский массаж ( кафедра реабилитации РГМУ);<br>
«Кинезиотейпирование»:<br>
-  Действующий член Союза специалистов по мультитейпингу (Украина)<br>
-  Ассоциация РокТейп - Продвинутый РокДок.<br>
-  Ассоциация Кинесио – КТ 1, КТ 2, КТ 3<br>

Действительный член Русской Остеопатической Ассоциации. (<a href="http://www.rusosteopathy.com/roa/associaciya-segodnya">http://www.rusosteopathy.com/roa/associaciya-segodnya</a>).

</div>

