<div class="b-modal__left-header">Полянская Ольга Юрьевна</div>
<div class="b-modal__left-body">
	"После перенесенного мужем инсульта, ему потребовался курс лечебного массажа. По рекомендации врачей мы обратились к Роману и остались очень довольны его работой. 
Роман оказался настоящим мастером своего дела. 
Эффект от проведенного им массажа был очень результативным - лежачий больной начал не только самостоятельно садиться, но и вставать, а также делать первые шаги. 
Вот что значит профессионал.
"
</div>

