<div class="b-modal__left-header">Вахутинская Алла Вячеславовна</div>
<div class="b-modal__left-body">
	"Специалист Центра проводил мне курс реабилитации после микроинсульта. Он не просто отрабатывает, а вкладывает желание помочь, изменить твое состояние к лучшему. 
Что касается результатов - благодаря непрерывному контролю давления со стороны специалиста, было видно как давление снижается прямо во время сеанса. Одновременно было облегчение дыхания (у меня в это время было обострение астмы) и голове становилось легче. Хочу отметить, что во время и после занятий возникает чувство общего улучшения состояния, чувство облегчения. А это, пожалуй, самое главное в этом деле!"
</div>

