<div class="b-modal__left-header">Алиса Белобородова</div>
<div class="b-modal__left-body">
	"Полгода назад у моего папы случился инсульт, парализовало левую часть тела. Искала в интернете варианты помощи в реабилитации, так нашла сайт Центра Восстановительной Медицины. Благодаря их методике реабилитации папа чувствовал улучшения после каждого сеанса. А после повторного курса заметил особенно сильный прогресс, в том числе, потому что каждый день занимался сам, выполняя домашние задания реабилитолога. Также помощь проходила и на психологическом уровне, ведь после таких событий в жизни каждого происходят сильные изменения. Теперь папа может самостоятельно ходить, ездить на общественном транспорте, не падает духом и упорно продолжает самостоятельные занятия. От всей семьи хочется сказать огромное спасибо специалистам Центра, и особенно Роману Николаевичу!"
</div>

