<div class="b-modal__left-header">Волкова Валентина Анатольевна</div>
<div class="b-modal__left-body">
	"В 2013 году у моего мужа случился инсульт, в результате которого муж стал полупарализован, не ходил. Врачи говорили, что он не проживет больше чем полгода. 
	Знакомые порекомендовали обратиться в Центр Восстановительной Медицины. Специалисты центра провели курс комплексной реабилитации, после чего муж начал ходить с палочкой. Дважды в год обращаемся в Центр для закрепления результатов.<br>Отдельное спасибо нашему специалисту, Степановскому Роману Николаевичу."
</div>

